{% render 'partials/head4.liquid', title: 'digitalgarden' %}

<img src="https://picsum.photos/1500" loading='eager' height="500">

<button>BUY</button>

<button>SELL</button>

<img src="https://picsum.photos/500" loading='lazy' height="500">

<img src="https://picsum.photos/501" loading='lazy' height="500">

<img src="https://picsum.photos/502" loading='lazy' height="500">

{% render 'partials/foot.liquid' %}