
{% render 'partials/head.liquid', title: 'home' %}

{% comment %} {% render 'partials/nav.liquid' %} {% endcomment %}

        <form id="theme-toggle">
            <label>
                <input type="radio" name="color-theme" value="auto" checked> auto
            </label>
            <label>
                <input type="radio" name="color-theme" value="light"> licht
            </label>
            <label>
                <input type="radio" name="color-theme" value="dark"> donker
            </label>
        </form>


       

<main class="layout">
    <header> <h1> I &#128149; web</h1> </header>
    <ul class="list-pages">
        <li><a class="digitalgarden-link" href="./digitalgarden">&#128151; Digital Garden</a></li>
        <li><a class="learningjournal-link" href="./learningjournal">&#128148; Learning Journal</a></li>
        <li><a class="stuff-link" href="/stuff">&#128150; Things I Like</a></li>
    </ul>
</main>

    <script>
        const form = document.getElementById('theme-toggle');
        const html = document.documentElement;
      
        form.addEventListener('change', () => {
          const value = form.querySelector('input[name="color-theme"]:checked').value;
      
          if (value === 'light' || value === 'dark') {
            html.setAttribute('data-theme', value);
          } else {
            html.removeAttribute('data-theme'); // fall back to system
          }
        });
      </script>


{% render 'partials/foot.liquid' %}