{% render 'partials/head.liquid', title: 'stuff' %}

    <ul>
        <li> 
        <p>Games I like</p>
        <img src="/assets/images/3x3.jpg">
        </li>

        <li>
        <p>Manga I like</p>
        <img src="/assets/images/4x4.jpg">
        </li>

        <li>
        <p>Anime I like</p>
        <img src="/assets/images/5x5.jpg">
        </li>
    </ul>


    <h2>Things I like to do</h2>

    <ul>
        <li>
            <p>Lift</p>
            <img src="/assets/images/KNKF.png">
        </li>

        <li>
            <p>Race</p>
            <img src="./assets/images/logo-kartcircuit-driebergen.png">
        </li>

        <li>
            <p>watch movies</p>
            <img src="/assets/images/pathe.jpg">
        </li>
    </ul>


    {% render 'partials/foot.liquid' %}