@font-face {
    font-family: 'BionicalDemo';
    src: url("../assets/BionicalDemo-8MJ5A.ttf") format('opentype');
}

body{
    font-family: "BionicalDemo", sans-serif;
}

ul{
    display:flex;
}

li{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    
}

p{

}

ul li img{
    max-width: 100%;
}